[submodule "deps/picohash"]
	path = deps/picohash
	url = https://github.com/kazuho/picohash
[submodule "deps/nanopb"]
	path = deps/nanopb
	url = https://github.com/nanopb/nanopb
[submodule "deps/ledger-zxlib"]
	path = deps/ledger-zxlib
	url = https://github.com/Zondax/ledger-zxlib
[submodule "deps/ledger-rust"]
	path = deps/ledger-rust
	url = https://github.com/Zondax/ledger-rust
